@media (min-width: 768px) and (max-width: 1024px){
    #secao-cards-props{
        flex-direction: column;
    }
}
@media (min-width: 375px) and (max-width: 768px){
    .secao-experiencias p{
        width: calc(100% - 10%);
    }
    #secao-cards-props{
        flex-direction: column;
    }
}