@media (min-width: 768px) and (max-width: 1024px){
    #secao-card{
        width: calc(100% - 5%);
    }
    .cards{
        width: calc(100% - 5%);
    }
    .cards p{
        width: 70%;
    }
}
@media (min-width: 375px) and (max-width: 768px){
    #secao-card{
        width: calc(100% - 15%);
    }
    .cards{
        width: calc(100% - 5%);
    }
    .cards p{
        width: 70%;
    }
}